
@{
    ViewBag.Title = "Authorization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.ActionLink("Sign In", "Create", "Person")
</div>

<div>
    @Html.ActionLink("Log In", "Login", "Person" ) 
</div>
